*{
    margin: 0;
    padding: 0;
    font-family: Helvetica,Arial,sans-serif;
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("img/bg1.jpg");
    background-size: fixed;
}

a{
    text-decoration: none;
}

#header h1{
    margin: left;
}
#container{
    width: 1400px;
    background-color: #CCCCCC;
    margin-left: auto;
    margin-right: auto;
}

#header{
    width: 99%;
    background-color: black;
    color: white;
    padding: 10px;
    position: relative;
}

#content{
    padding: 15px;
}

#nav{
    width: 250px;
    float: left;
    background-color: #c0f5bc;
}

#nav ul{
    float: left;
    list-style-type: none;
    margin-top: 100px;
}

#nav ul li{
    display: table-row;
    font-size: x-large;
    margin: 50px;
    width: 200px;
}

#nav ul li a{
    text-decoration: none;
    color: rgb(4, 119, 10);
    padding: 10px 8px;
    border: 1px solid transparent;
    transition: .6s ease;
    width: 200px;
    display: block;
}

#nav ul li.active a{
    padding: 5px;
    background-color: #f2f2f2;
    color: black;
}

#nav ul li a:hover{
    background-color: rgb(4, 119, 10);
    color: whitesmoke;
    padding: 5px;
}

#main{
    width: 1120px;
    height: auto;
    float: right;
    margin: 2% 15%;
    position: absolute;
}

#main h2{
    color: whitesmoke;
    text-shadow: .5px .5px greenyellow;
}

#main h4{
    color: whitesmoke;
    text-shadow: .5px .5px greenyellow;
}
.container-padding50 {
	padding-top: 1px;
}

.container-textinput {
	width: 60%;
	display: inline-block;
	padding: 15px;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
}

.container-button {
	width: 10%;
	display: inline-block;
	padding: 15px;
	background-color: green;
	color: white;
	font-size: 16px;
	font-family: Helvetica, sans-serif;

	border: 1px solid green;
	border-radius: 5px;
}

.container-image {
	width: 30%;
	display: block;
	float: left;
	margin-right:3%;
}

#main table#t01{
    width: 100%;
}

table#t01 th {
    background-color: black;
    color: white;
    padding: 15px;
    text-align: left;
}

#main table#t01 tr{
    text-align: center;
    padding: 10px;
}

#main table#t01 tr:nth-child(even) {
    background-color: #eee;
    
}

#main table#t01 tr:nth-child(odd) {
    background-color: #ffffff;
}
#main table#t01 tr td a{
text-decoration: none;
    color: rgb(4, 119, 10);
    padding: 10px 8px;
    border: 1px solid transparent;
    transition: .6s ease;
    width: 200px;
    display: block;
}

#main table#t01 tr td a:hover{
    background-color: rgb(4, 119, 10);
    color: whitesmoke;
    padding: 5px;
}

#footer{
    clear: both;
    padding: 8px;
    background-color: grey;
    color: whitesmoke;
    text-align: right;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 99%;
}