*{
    margin: 0;
    padding: 0;
    font-family: Helvetica,Arial,sans-serif;
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("img/bg1.jpg");
    background-size: fixed;
}

a{
    text-decoration: none;
}

#header h1{
    margin: left;
}
#container{
    width: 1400px;
    background-color: #CCCCCC;
    margin-left: auto;
    margin-right: auto;
}

#header{
    width: 99%;
    background-color: black;
    color: white;
    padding: 10px;
    position: relative;
}

#content{
    padding: 15px;
}

#nav{
    width: 250px;
    float: left;
    background-color: #c0f5bc;
}

#nav ul{
    float: left;
    list-style-type: none;
    margin-top: 100px;
}

#nav ul li{
    display: table-row;
    font-size: x-large;
    margin: 50px;
    width: 200px;
}

#nav ul li a{
    text-decoration: none;
    color: rgb(4, 119, 10);
    padding: 10px 8px;
    border: 1px solid transparent;
    transition: .6s ease;
    width: 200px;
    display: block;
}

#nav ul li.active a{
    padding: 5px;
    background-color: #f2f2f2;
    color: black;
}

#nav ul li a:hover{
    background-color: rgb(4, 119, 10);
    color: whitesmoke;
    padding: 5px;
}

#main{
    width: 1120px;
    height: auto;
    float: right;
    text-align: left;
    margin: 1% 15%;
    position: absolute;
}

#main h2{
    text-align: center;
    color: whitesmoke;
    text-shadow: 1px 1px orangered;
    font-size: xx-large;
}

#main ul{
    padding-top: 3%;
}

#main ul li{
    color: red;
}

#main ul li p{
    text-align: left;
    color: orangered;
    font-size: x-large;
}

#main p{
    padding-top: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: orange;
    font-size: x-large;
}
#main h4{
    padding-top: 4%;
    color: whitesmoke;
    font-family: monospace;
    font-size: larger;
}

#main h4 a{
    text-decoration: none;
    color: teal;
    font-size: x-large;
}
#footer{
    clear: both;
    padding: 8px;
    background-color: grey;
    color: whitesmoke;
    text-align: right;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 99%;
}