<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Music4U</title>
        <link rel="stylesheet" type="text/css" href="../static/css/styleabout.css">
    </head>

    <body>
        <div id="container">
            <div id='header'>
                <h1>Music4U</h1>
            </div>
            <div id='content'>
                <div id='nav'>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="trending">Trending</a></li>                   
                        <li><a href="recommendations">Music for you</a></li>
                        <li class="active"><a href="#">About</a></li>
                        <li><a href="contactus">Contact Us</a></li>
                    </ul>
                </div>
                <div id="main">
                    <h2>About our project - <em>Music4U</em></h2>
                    <ul>
                        <li>
                            <p>The development of the Internet has contributed to the realization of making millions of music titles accessible to millions of users.</p>
                        </li>
                        <li>
                            <p>Due to the extensive distribution of music, consumers are being presented with a problem of information overload, while the music industry is being faced with the challenge of personalized promotion and distribution.
                            </p>
                        </li>
                        <li>
                            <p>
                                Music recommendation systems aim to ease the task of finding the music items that might interest the users by generating meaningful recommendations.
                            </p>
                        </li>
                    </ul>
                    <p>
                        We aim to design a music recommendation software based on the preferences of the person operating the device. The current music apps such as Spotify, Gaana use cookies to recommend the music. The recommendation always is based upon our listening playlist, previously listened to songs, but the current mindset of the individual is not taken into consideration. 
                    </p>
                    <p>
                        Sometimes we go blank on the type of music we would like to listen to at that point in time. We would like to help the person operating the device in better selecting the music of his/her type based on his/her history. For example, we can recommend him/her a new song which he/she is not aware of by matching their profiles with other users.
                    </p>
                    <h4>To know more go to this <a href="https://github.com/vipuljain-17/Music-Recommendation-System">link</a></h4>
                </div>
                <div id='footer'>
                    Copyright &copy; 2020 vadaPAV Inc.
                </div>
            </div>
        </div>
    </body>

